Jignasha Dalal shoppingbotflows.json
[{"id":"2f056c09.656094","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ebd194f4.d11558","type":"watson-conversation-v1","z":"2f056c09.656094","name":"shopping bot","workspaceid":"173d4e04-befb-43de-babc-ec9b9fc6a637","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/acc24a59-85a2-4a9d-97dd-cc9295846944","timeout":"","optout-learning":false,"x":410,"y":80,"wires":[["5791782f.278688"]]},{"id":"cc246236.3c56b","type":"inject","z":"2f056c09.656094","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":100,"y":80,"wires":[["ebd194f4.d11558"]]},{"id":"5791782f.278688","type":"function","z":"2f056c09.656094","name":"parsing","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url=msg.payload.output.generic[0].source\n    msg.payload=msg.payload.output.generic[0].title\n}\nelse {\n   msg.payload=msg.payload.output.text[0];\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":80,"wires":[["f0ff91ea.2adaa","9270658d.70e818"]]},{"id":"4031a351.6ac37c","type":"ui_form","z":"2f056c09.656094","name":"","label":"","group":"48128f0d.63771","order":0,"width":0,"height":0,"options":[{"label":"Enter your input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":220,"wires":[["2da059e.7e00aa6"]]},{"id":"2da059e.7e00aa6","type":"function","z":"2f056c09.656094","name":"input parsing","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":220,"wires":[["ebd194f4.d11558","ac4f8a7d.737428"]]},{"id":"ac4f8a7d.737428","type":"ui_text","z":"2f056c09.656094","group":"48128f0d.63771","order":1,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":260,"wires":[]},{"id":"f0ff91ea.2adaa","type":"ui_text","z":"2f056c09.656094","group":"48128f0d.63771","order":2,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":140,"wires":[]},{"id":"9270658d.70e818","type":"template","z":"2f056c09.656094","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<img ng-src={{msg.url}} alt=\"image\">","output":"str","x":910,"y":60,"wires":[[]]},{"id":"48128f0d.63771","type":"ui_group","z":"","name":"Bot","tab":"8fc76e5d.c3603","order":1,"disp":true,"width":"6","collapse":false},{"id":"8fc76e5d.c3603","type":"ui_tab","z":"","name":"Shopping","icon":"dashboard","disabled":false,"hidden":false}]